---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=existing_user_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"03f4d21dc65f482d87cf182969885172eb579ef7"'
      Last-Modified:
      - '2013-07-28T00:01:13+0000'
    body:
      encoding: UTF-8
      string: '{"id":"649065488","name":"Taro Minowa Higepon","first_name":"Taro","middle_name":"Minowa","last_name":"Higepon","link":"https:\/\/www.facebook.com\/higepon","username":"higepon","birthday":"05\/16\/1977","location":{"id":"114952118516947","name":"San
        Francisco, California"},"bio":"Software Engineer, lead following projects
        as main developer. Mona (OS), Mosh (Fast Scheme Stack VM Interpreter), Mio
        (KVS), outputz.com (Social web service).","quotes":"\u7d99\u7d9a\u306f\u529b\u306a\u308a","work":[{"employer":{"id":"134147689947059","name":"Twitter,
        Inc."},"position":{"id":"109542932398298","name":"Software Engineer"},"start_date":"2012-01-01"},{"employer":{"id":"110092032345954","name":"\u30b5\u30a4\u30dc\u30a6\u30ba"},"position":{"id":"109542932398298","name":"Software
        Engineer"},"start_date":"2008-01-01","end_date":"2012-01-15"},{"employer":{"id":"107512869279984","name":"Cybozu
        Labs, Inc"},"position":{"id":"109542932398298","name":"Software Engineer"},"start_date":"2008-01-01","end_date":"2012-01-15"},{"employer":{"id":"101009323273955","name":"IPA
        Exploratory Software Project"},"position":{"id":"107629839267064","name":"Engineer"},"description":"Scheme
        shell for Mona OS - Implemented a Scheme shell for Mona OS in C++, which is
        now the default shell of Mona OS.","start_date":"2006-11-01","end_date":"2007-08-01"},{"employer":{"id":"130630066976252","name":"\u306f\u3066\u306a"},"position":{"id":"109542932398298","name":"Software
        Engineer"},"start_date":"2005-04-01","end_date":"2007-10-01"},{"employer":{"id":"107138839321074","name":"Hatena"},"position":{"id":"107629839267064","name":"Engineer"},"description":"Haten[...]
