---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=test_token2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77534a5ee057aa78cb0c7651a3d25bcb9dbf55b8"'
      Last-Modified:
      - '2013-07-21T02:08:35+0000'
    body:
      encoding: UTF-8
      string: '{"id":"649065489","name":"John","first_name":"Taro","middle_name":"Minowa","last_name":"Higepon","link":"https:\/\/www.facebook.com\/higepon","username":"higepon","birthday":"05\/16\/1977","location":{"id":"114952118516947","name":"San
        Francisco, California"},"bio":"Software Engineer, lead following projects
        as main developer. Mona (OS), Mosh (Fast Scheme Stack VM Interpreter), Mio
        (KVS), outputz.com (Social web service).","quotes":"\u7d99\u7d9a\u306f\u529b\u306a\u308a","work":[{"employer":{"id":"134147689947059","name":"Twitter,
        Inc."},"position":{"id":"109542932398298","name":"Software Engineer"},"start_date":"2012-01-01"},{"employer":{"id":"110092032345954","name":"\u30b5\u30a4\u30dc\u30a6\u30ba"},"position":{"id":"109542932398298","name":"Software
        Engineer"},"start_date":"2008-01-01","end_date":"2012-01-15"},{"employer":{"id":"107512869279984","name":"Cybozu
        Labs, Inc"},"position":{"id":"109542932398298","name":"Software Engineer"},"start_date":"2008-01-01","end_date":"2012-01-15"},{"employer":{"id":"101009323273955","name":"IPA
        Exploratory Software Project"},"position":{"id":"107629839267064","name":"Engineer"},"description":"Scheme
        shell for Mona OS - Implemented a Scheme shell for Mona OS in C++, which is
        now the default shell of Mona OS.","start_date":"2006-11-01","end_date":"2007-08-01"},{"employer":{"id":"130630066976252","name":"\u306f\u3066\u306a"},"position":{"id":"109542932398298","name":"Software
        Engineer"},"start_date":"2005-04-01","end_date":"2007-10-01"},{"employer":{"id":"107138839321074","name":"Hatena"},"position":{"id":"107629839267064","name":"Engineer"},"description":"Haten[...]
- request:
    method: get
    uri: https://graph.facebook.com/me/friends?access_token=test_token2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"87e3ef9b499a8f9df83b9b22c91040166fc2b1cb"'
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Nancy Amfebadcjccb Romansen","id":"100006521430332"}],"paging":{"next":"https:\/\/graph.facebook.com\/100006483456141\/friends?access_token=CAAJPeH9eTKIBAFNAgQuk2GVhAt0kfTiAg4ONTFTbDXZBWMicIZCD2kt8HNAwvnhzZBT5AoRJU1WlqJfNZAAv2h47NDZA04eqC8wTB3z25s0rEO3aBVrDkDrAmJxkZAbY2kBrWlxCKpqCdlRZAh1b3nKkCODNoZB4ZCzoZD&limit=5000&offset=5000&__after_id=100006521430332"}}'
  recorded_at: Fri, 02 Aug 2013 05:40:39 GMT
recorded_with: VCR 2.5.0
